<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-12 col-sm-6 form-container">
            <h1 class="formheading mt-3">
                SIGNUP FORM
            </h1>
            <form (ngSubmit)="handlesubmit()" [formGroup]="signupForm">
                <!-- name details -->
                <div class="col-12 d-sm-flex">
                    <div class="col-12 col-sm-6">
                        <mat-form-field appearance="standard">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="Your Name" formControlName="FirstName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="last name" formControlName="LastName">
                        </mat-form-field>
                    </div>
                </div>
                <!-- mobile number and age details -->
                <div class="col-12 d-sm-flex">
                    <div class="col-12 col-sm-6">
                        <mat-form-field appearance="standard" floatLabel="always">
                            <mat-label>Mobile</mat-label>
                            <input matInput type="tel" placeholder="Mobile number" formControlName="MobileNumber" ng2TelInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Date of birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="DOB" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <!-- email details -->
                <div class="col-12 d-sm-flex">
                    <div class="col-12 col-sm-6">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="email">
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="male">MALE</mat-option>
                                <mat-option value="female">FEMALE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- password -->
                <div class="col-12 d-sm-flex">
                    <div class="col-12 col-sm-6">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Retype password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- login buttons -->
                <div class="col-12 d-flex">
                    <div class="col-6">
                        <button  class="w-100" mat-raised-button color="primary" [disabled]=signupForm.invalid>SIGNUP</button>
                    </div>
                    <div class="col-6">
                        <a mat-button routerLink="/login">LOGIN</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>