html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* form details */

.form-container {
    border: 1px solid black;
    text-align: center;
}

.formheading {
    /* background-color: #5427b7;
    color: white; */
    padding: 0.7rem;
}

table,
tr,
td,
th {
    border: 1px solid green;
    border-collapse: collapse;
}

td,th {
    padding: 1rem;
}
